################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/projekt/.vs/projekt/FileContentIndex/07cbfba3-caf5-44fb-b601-20b9e12611bd.vsidx
/projekt/.vs/projekt/FileContentIndex
